<section id="about-section" class="about">

    <div class="container" ng-animate="'animate'">
      <h2 class="section-title">Sobre mí</h2>
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/img/profile.jpeg" alt="Mi foto de perfil" class="about__img">
        </div>
        <div class="col-md-6">
          <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat libero nunc, id eleifend mauris vestibulum ac. Integer vel ultrices nisi. Duis aliquet suscipit tortor. Nam aliquam orci vel justo cursus iaculis. Morbi vestibulum arcu a dolor hendrerit, ut finibus felis pellentesque. Integer pellentesque velit ac enim molestie interdum. Sed vel magna ultricies, lacinia nunc sit amet, bibendum magna. Nam sit amet quam elit. Donec efficitur dignissim leo in posuere. Maecenas ac nibh eu elit auctor sodales. Donec ac semper odio. </p>
          <a class="button" href="#">Descargar CV</a>
        </div>
      </div>
    </div>
  </section>